{% extends 'base.html' %}

{% block content %}

    <form method="post">
        {% csrf_token %}
        <h3 class="text-center">Welcome to TO-DO List</h3>
        <div class="form-group">
            <label for="item">Title</label>
            <input type="text" class="form-control" name="item" id="item" aria-describedby="emailHelp" placeholder="type here..">
        </div>
        <div class="form-group">
            <label for="details">Details</label>
            <textarea class="form-control" name="details" id="details" rows="10" cols="30"></textarea>
        </div>
        <button type="submit" id="add" class="btn btn-success">Add to List</button>
    </form>

{% endblock %}

