{% extends 'base.html' %}

{% block content %}

    <style>
        .mystyle{
            height: 100px;
        }
    </style>

    {% if task %}
        <form method="POST" >
            {% csrf_token %}

            <div class="form-group">
                <label class="p-1">Title</label>
                <input class="form-control" type="text" placeholder="{{task.item}}" value="{{task.item}}"  name="item">

                <label class="p-1">Details</label>
                <input class="form-control mystyle" type="text" placeholder="{{task.details}}" value="{{task.details}}" name="details">

                <input type="hidden" value="{{item.completed}}" name="completed">
                <button class="btn btn-outline-success mt-2" type="submit">Save</button>
            </div>
        </form>
    {% endif %}
{% endblock %}