{% extends 'base.html' %}

{% block content %}

    {% if item %}
        <form method="POST" action="">
            {% csrf_token %}

            <div class="form-group">
                <input class="form-control" type="text" placeholder="{{item.item}}" value="{{item.item}}"  name="item">

                <input type="hidden" value="{{item.completed}}" name="completed">

                <button class="btn btn-outline-success mt-2" type="submit">Edit Item</button>
            </div>
        </form>
    {% endif %}
{% endblock %}