{% extends 'base.html' %}

{% block content %}

    {% if task %}
        <form method="POST" action="">
            {% csrf_token %}

            <div class="form-group">
                <label class="p-1">Title</label>
                <input class="form-control" type="text" placeholder="{{task.item}}" value="{{task.item}}"  name="item">

                <label class="p-1">Details</label>
                <textarea class="form-control" type="text" placeholder="{{task.details}}" value="{{task.details}}"  name="details" rows="10" cols="30"></textarea>

                <input type="hidden" value="{{item.completed}}" name="completed">
                <button class="btn btn-outline-success mt-2" type="submit">Edit Item</button>
            </div>
        </form>
    {% endif %}
{% endblock %}