{% extends 'base.html' %}

{% block content %}

<style>
    .mystyle{
        font-size: 30px;
        font-family: sans-serif;
        margin-top: 6em;
        padding: 0.5em;
    }
</style>

{% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show"  role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <small><sup>x</sup></small>
                </button>
                {{message}}
            </div>
    {% endfor %}

  {% if allTasks %}
    <h2 class="text-center mb-4">Your Listed Tasks</h2>
      {% for tasks in allTasks %}
            {% if tasks.completed %}

                <div class="row container" style="border: 1px solid aliceblue;font-size: 20px;font-family: sans-serif;background-color: aliceblue; padding:0.5em;">
                    <div class="col-lg-2 col-md-2 col-sm-1">{{forloop.counter}}</div>
                    <div class="col-lg-3 col-md-4 col-sm-2"><strike>{{tasks.item}}</strike></div>
                    <div class="col-lg-7 col-md-6 col-sm-8">
                        <a class="btn btn-outline-info" href="{% url 'undone' tasks.id %}">UnDone</a>
                        <a class="btn btn-outline-success" href="{% url 'edit_item' tasks.id %}" {{tasks.item}}>Edit</a>
                        <a class="btn btn-outline-danger" href="{% url 'delete' tasks.id %}">Delete</a>
                    </div>
                </div>
                </br>

            {% else %}
                <div class="row container" style="border: 1px solid aliceblue;font-size: 20px;font-family: sans-serif;background-color: aliceblue; padding:0.5em;">
                    <div class="col-lg-2 col-md-2 col-sm-1">{{forloop.counter}}</div>
                    <div class="col-lg-3 col-md-4 col-sm-3"><span>{{tasks.item}}</span></div>
                    <div class="col-lg-7 col-md-6 col-sm-7">
                        <a class="btn btn-outline-info" href="{% url 'done_task' tasks.id %}">Done</a>
                        <a class="btn btn-outline-success" href="{% url 'edit_item' tasks.id %}" {{tasks.item}}>Edit</a>
                        <a class="btn btn-outline-danger" href="{% url 'delete' tasks.id %}">Delete</a>
                    </div>
                </div>
                </br>

            {% endif %}

      {% endfor %}
    {% else %}
        <div class="container mystyle text-center">
            <a href="{% url 'add_item' %}"><i class="fas fa-2x fa-plus-circle p-2 " style="color:#b8b6b0"></i></a>
            </br>
            {{start}}
        </div>
  {% endif %}
    </tbody>
</table>
{% endblock %}